<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="base_url" value="http://automationpractice.com/"/>
		<add key="signinpage_url" value="http://automationpractice.com/index.php?controller=authentication"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
